<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.gizwits.cordova.wifi" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>GizWifiCordovaSDK</name>
  <js-module name="GizWifiCordovaSDK" src="www/GizWifiCordovaSDK.js">
    <clobbers target="cordova.plugins.GizWifiCordovaSDK" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="GizWifiCordovaSDK">
        <param name="ios-package" value="GizWifiCordovaSDK" />
      </feature>
    </config-file>
    <framework src="CoreLocation.framework" />
    <framework src="QuickLook.framework" />
    <framework src="ImageIO.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="Foundation.framework" />
    <framework src="UIKit.framework" />
    <framework src="Security.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreData.framework" />
    <framework src="MessageUI.framework" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiSDK.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceGroup.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceGroupCenter.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceOTA.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceScene.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceSceneCenter.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceSceneItem.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceScheduler.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceSchedulerCenter.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceSchedulerTask.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceSharing.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizDeviceSharingInfo.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizMessage.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizUserInfo.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiBinary.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiCentralControlDevice.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiDefinitions.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiDevice.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiGroup.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiSSID.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizWifiSubDevice.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizSDKClientLog.h" />
    <header-file src="src/ios/GizWifiSDK/Headers/GizUtil.h" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/GizWifiSDK.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libBLEasyConfig.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libcrypto.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libEasyLink.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libEsptouch_v0.3.5.2.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libLibSimpleConfig.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libssl.a" framework="true" />
    <source-file src="src/ios/GizWifiSDK/Frameworks/libWMOneShotConfig.a" framework="true" />
    <header-file src="src/ios/NSDictionaryUtils.h" />
    <source-file src="src/ios/NSDictionaryUtils.m" />
    <header-file src="src/ios/GizWifiCordovaSDK.h" />
    <source-file src="src/ios/GizWifiCordovaSDK.m" />
    <header-file src="src/ios/GizWifiDef.h" />
    <source-file src="src/ios/GizWifiDef.m" />
    <header-file src="src/ios/DeviceCache/GizWifiCacheCommon.h" />
    <source-file src="src/ios/DeviceCache/GizWifiCacheCommon.m" />
    <header-file src="src/ios/DeviceCache/GizWifiSDKCache.h" />
    <source-file src="src/ios/DeviceCache/GizWifiSDKCache.m" />
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="GizWifiCordovaSDK">
        <param name="android-package" value="com.gizwits.cordova.wifi.GizWifiCordovaSDK" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/GizWifiCordovaSDK.java" target-dir="src/com/gizwits/cordova/wifi/GizWifiCordovaSDK" />
  </platform>
</plugin>